<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}dollars.pl - grupa społecznościowa{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-color: #0f0f0f; color: darkorange" >
        <div class="search-bar">
            <form method="GET" action="" class="js-sea-search sea-search">
                <input type="search" name="q" placeholder="Search Sea Creatures" autocomplete="off" class="search-input">
            </form>
        </div>
        <header class="header" style="background-color: white">
            <img class="logo-icon" src="{{ asset('images/logodollars.png') }}">
            <h1 class="logo">dollars.pl</h1>
            {#<div class="list-group">#}
                {#<a href="/kamil/main" class="list-group-item" style="display: inline-block; margin-top: 10px; margin-left: 20px;">Rozmowa</a>#}
                {#<a href="/kamil/main" class="list-group-item" style="display: inline-block">Rozmowa</a>#}
            {#</div>#}
            <ul class="navi">

                {#<li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>#}
                <li><a href="/kamil/users">Lista Użytkowników</a></li>
                <li style="margin-right: 100px"><a href="/kamil/main">Rozmowa</a></li>

                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('security_login') }}">Login</a></li>
                {% endif %}

                {#<li><a href="/kamil/login">Login</a></li>#}
                <li><a href="/kamil/rejestracja">Rejestracja</a></li>
            </ul>
        </header>

        <div class="main-content" style="text-decoration-color: white">
            {% block body %}{% endblock %}
        </div>

        <div class="footer" style="background-color: darkorange">
            <p class="footer-text">Projekt: Inżynieria Internetu 2017<br>Autor: Kamil Łuc</p>
        </div>

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
